@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
.heading {
  font-family: var(--font-title);
  letter-spacing: -0.04em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .test {
    @apply bg-blue-300;
  }

  .swiper-pagination-bullet {
    @apply w-3 h-3 bg-gray-300 rounded-full mx-1 transition-all duration-300 ease-in-out cursor-pointer;
  }

  .swiper-pagination-bullet-active {
    @apply w-5 h-5 bg-yellow-500 scale-110 shadow-lg;
  }

  .button-primary {
    @apply gap-2 px-6 py-3 
    flex content-center  items-center  justify-center  
    border rounded-full 
    duration-200  transition-all 
    text-white text-base
    bg-gradient-to-r from-purple-500 to-pink-500   
    hover:from-indigo-500 hover:to-indigo-400   
    active:from-indigo-600 active:to-indigo-600  
    hover:shadow-xl active:shadow-sm
    active:scale-95;
  }

  .button-primary--small {
    @apply gap-2 px-6 py-3 
    flex content-center  items-center  justify-center  
    border rounded-full 
    duration-200  transition-all 
    text-white text-base
    bg-gradient-to-r from-purple-500 to-pink-500   
    hover:from-indigo-500 hover:to-indigo-400   
    active:from-indigo-600 active:to-indigo-600  
    hover:shadow-xl active:shadow-sm
    active:scale-95;
  }

  .button-whatsapp {
    @apply gap-2 px-6 py-3 
    flex content-center  items-center  justify-center  
    border rounded-full 
    duration-200  transition-all 
    text-white text-base
    bg-gradient-to-r bg-green-500 from-green-500
    hover:bg-green-600   
    active:from-indigo-600 active:to-indigo-600  
    hover:shadow-xl active:shadow-sm
    active:scale-95;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* Estilizando a barra de rolagem para navegadores baseados em WebKit */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#swiper-gallery .swiper-slide {
  /* opacity: 0.2; */
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* transform: scale(0.95) !important; */
  margin: 20px 0;
}

#swiper-gallery .swiper-slide img,
#swiper-gallery .swiper-slide video {
  border-radius: 24px;
  border: 6px solid transparent;
}

#swiper-gallery .swiper-slide-active {
  opacity: 1;
  /* transform: scale(1.1) !important; */
  padding: 0 0;
  z-index: 10;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

#swiper-gallery .swiper-slide-active img,
#swiper-gallery .swiper-slide-active video {
  border-color: #3b82f6;
}

video {
  pointer-events: none;
}

.fixed {
  transition: all 0.3s ease-in-out;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
