.highlights-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .highlight-item {
    list-style: none;
    text-align: center;
    cursor: pointer;
  }
  
  .highlight-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

/* src/app/components/HighlightsSection/index.module.css */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  max-width: 400px; /* Mantém um layout mais estreito, ideal para vídeos verticais */
  width: 90%;
  max-height: 80vh; /* Limita a altura para 80% da altura da viewport */
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.video-wrapper {
  width: 100%;
  height: auto;
  max-height: 60vh; /* Limita a altura do vídeo para garantir que ele não ultrapasse o modal */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000; /* Fundo preto para criar um contraste */
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Mantém a proporção do vídeo, sem cortar */
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.close-button {
  align-self: flex-end;
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 0.5rem;
}

.close-button:hover {
  background-color: #555;
}