 

 

.highlight-item button{
  max-width: 120px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.highlight-item img {
  width: 90px;
  min-width: 90px;
  height: 90px;
  border-radius: 100%;
}

.highlight-item p { 
  font-size: 13px;
  line-height: 1.2;
  margin-top: 10px;
  opacity: 0.5;
}

/* Estilo do modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  padding: 0;
  max-width: 400px;
  width: 90%;
  max-height: 80vh;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.modal-header-buttons{
  display: flex;
}

/* Estilo para o contêiner da mídia (vídeo ou imagem) */
.media-wrapper {
  width: 100%;
  height: auto;
  max-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.video-container,
.image-container {
  pointer-events: none; /* Permite que o Swiper detecte o swipe */
  width: 100%;
  height: 100%;
}

.video-player,
.media-player {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  pointer-events: auto; /* Ativa a interação com os controles do vídeo */
}

/* Estilo do botão de som */
.mute-button {
  background: #333;
  
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 0.5rem;
  z-index: 999999;
  position: absolute;
  top: 0;
  right: 10px;
  pointer-events: all;
}

.mute-button:hover {
  background-color: #555;
}


 